<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="information-card2">
  <template>
    <style>
      :host {
        display: block;
      }
      .mainDiv {
        display: flex;
        flex-direction: column; 
        margin: 5px 20%;
      }
      .confirmationClass {
        text-align: center;
      }
      .btnConfirmar {
        width: 30%;
        height: 30px;
        background-color: tan;
        color: white;
        margin: 10px auto;
         
      }
    </style>

    <h2 class="confirmationClass">[[prop1]]!</h2>
    <div class="mainDiv">
      <label class="label1">Label</label>
      <input type="text" class="pText1">
      <label class="label1">Label</label>
      <input type="text" class="pText1">
      <label class="label1">Label</label>
      <input type="text" class="pText1">
      <button class="btnConfirmar">Confirmar</button>
    </div>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `information-card2`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InformationCard2 extends Polymer.Element {
      static get is() { return 'information-card2'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'information-card2'
          }
        };
      }
    }

    window.customElements.define(InformationCard2.is, InformationCard2);
  </script>
</dom-module>
